<div>
    <div>
        Oups, looks like you're not authorized to view this page..
    </div>
    <div>
        <a href="/">Back to home</a>
    </div>
    <div>
        <a href="/authentication/login">Login</a>
        <a asp-controller="Authentication" asp-action="Logout">log in as someone else</a>?
    </div>
</div>